:root{
    --bg-white: #f1f1f1;
}
.custom-bg {
    background: linear-gradient(to bottom right, #f7f7f7, #f7f7f7, #f8c4d8, #F9B1CD, #fc9bd5, #fcd2fd);
}

html,
body {
    font-family: "Inter", sans-serif !important;
    background-color: var(--bg-white) !important;
}
