:root{
    --bg-white: #F7F8FB;
    --blue-color: #313131;
}

/* .custom-bg {
    /* background: linear-gradient(to bottom right, #f7f7f7, #f7f7f7, #f8c4d8, #F9B1CD, #fc9bd5, #fcd2fd);
}  */


::placeholder {
    font-size: 1.01rem !important;
    color: var(--blue-color) !important;
    font-weight: 400 !important;
    user-select: none !important;
    text-transform: capitalize !important;
}

html,
body {
    font-family: "Poppins", sans-serif !important;
    background-color: var(--bg-white);
}
.bg-related{
    background-color: #E1ECFB !important;
}
.clr-related{
    color: #1983ff;
}

.reverse-text-right {
    direction: rtl;
}

.reverse-text-left {
    direction: rtl;
}