::placeholder {
    font-size: 1.01rem !important;
    color: #313131 !important;
    font-weight: 400 !important;
    user-select: none !important;
    text-transform: capitalize !important;
}

html,
body {
    font-family: "Poppins", sans-serif !important;
}
